<launch>
	<!-- USE THIS FILE WHEN LAUNCHING FROM THE PI HOST OS I.E. NOT DOCKER -->

	<arg name="fileNo" default="Test" />
	<arg name="alt" default="3.0" />
	<arg name="system_ID" default="5" />
    
	<param name="drone_name" type="int" value="$(arg system_ID)" />
	<param name="trajectory_file" type="str" value="/home/ubuntu/catkin_ws/src/pre-planned_arl/src/trajectory$(arg fileNo).txt" />
    <param name="height" type="double" value="$(arg alt)" />

    <node pkg="pre-planned_arl" name="pre_planned_arl_cube" type="pre_planned_arl_cube" output="screen" ></node>

	<arg name="fcu_url" value="/dev/ttyS0:921600?ids=255,240"/>
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="5" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" value="$(arg respawn_mavros)" />
	</include>

	<node pkg="rosbag" name="record" type="record" args="-a" />

</launch>
